
# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files

# 此为注释 – 将被 Git 忽略



# 忽略所有 .exe结尾的文件
*.pdf
*.env
.DS_*
# 但 lib.exe 除外
!lib.exe

# 忽略所有层级下的venv与.idea目录及目录下的所有文件
venv/
.idea/